<div class = "recipes-list">
    <% obj.each do |recipe| %>
        <div class = "row">
            <div class = "col-md-8">
                    <div class = "recipe-list-title">
                        <%= link_to recipe.name, recipe_path(recipe) %>
                    </div>
                    <div class = "recipe-list-body">
                        <%= truncate(recipe.description, length: 75) %>
                        <div class = "recipe-list-meta">
                            <h6> Categories: <%= render recipe.categories %> </h6>
                        </div>
                        <div class = "recipe-list-meta">
                            <small> Created by: <%= link_to recipe.user.username, user_path(recipe.user) %>, <%= time_ago_in_words(recipe.created_at) %> ago | last updated: <%= time_ago_in_words(recipe.updated_at) %> ago </small>   
                        </div>
                    </div>
                    <div class = "recipe-list-actions">
                        <%= link_to t('show_recipe_button'), recipe_path(recipe), class: "btn btn-dark btn-md" %>
                        <% if logged_in? && (current_user == recipe.user || current_user.admin?) %>
                            <%= link_to t('edit_recipe_button'), edit_recipe_path(recipe), class: "btn btn-primary btn-md" %>
                            <%= link_to t('delete_recipe_button'), recipe_path(recipe), method: :delete, data: {confirm: t('delete_recipe_text')}, class: "btn btn-danger btn-md" %>
                        <% end %>
                    </div>
            </div>
        </div>   <br> <br>
    <% end %>
</div>

<%# Lists all recipes %>