<div class = "text-center recipe-title font-italic"> <h1 class="display-3"> Name: <%= @recipe.name %> </h1> </div>

<div class = "container-fluid">
    <ul class = "list-unstyled text-center">
        <h3> <li>By:</li> </h3>
        <br>
        <h3> <li class = "recipe-title"> <%= link_to @recipe.user.username, user_path(@recipe.user) %> </li> </h3> 
        
    </ul>
    <h2 class = "text-center"><strong> Description</strong></h2>
    <br>
    <div class = "text-center">
        <div class = "description-wrap"> <%= simple_format(@recipe.description) %> </div>
        <br>
        <% if @recipe.categories.any? %>

        <h4> Categories: <%= render @recipe.categories %> </h4>

        <% end %>
        <br> <br> <br>
        <div>
            <%= link_to t('back_to_recipe_list_button'), recipes_path, class: "btn btn-dark btn-md" %>
            <% if logged_in? && (current_user == @recipe.user || current_user.admin?) %>
                <%= link_to t('edit_recipe_button'), edit_recipe_path(@recipe), class: "btn btn-primary btn-md" %>
                <%= link_to t('delete_recipe_button'), recipe_path(@recipe), method: :delete, data: {confirm: t('delete_recipe_text')}, class: "btn btn-danger btn-md" %>
            <% end %>
    </div>
</div>