<div class="container-fluid text-center">
    <h1 class="display-3"> Welcome to <%= @user.username %>'s page! </h1> <br>
    <h1 class="display-4"><span class="badge badge-info"><%= @user.username %></span></h1> <br>
</div>
<br>
<div class="container-fluid text-center">
    <h4> <%= @user.username %> has <%= pluralize(@user.recipes.count, "recipe") %> </h4>
</div>

<br>

<%= render 'recipes/recipe', obj: @user.recipes %>