<%= render 'shared/error_messages', obj: @category %>
<br>
<div class = "container-fluid row">
    <div class = "col-md-12">
        <%= form_for(@category, :html => {role: "form"}) do |c| %>
            <div class = "form-group">
                <div class = "control-label col-md-2"> <%= c.label :name %> </div>
                <div class = "col-md-10"> <%= c.text_field :name, class: "form-control", placeholder: "Enter Category Name", autofocus: true %> </div>
            </div>
            <div class = "form-group">
                <div class = "col-md-10"> <%= c.submit class: 'btn btn-outline-primary btn-lg' %> </div>
            </div>
        <% end %>
    </div>
</div>